@model IEnumerable<Comic>
@{
    ViewData["Title"] = "List of Comics";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div class="topnav">
        <a href="Home">Home</a>
        <a class="active" href="Comic">Comic</a>
        <a href="Page">Pages</a>
    </div>
</header
@foreach (var item in Model)
{
    <div class="container">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-title">@item.Name</p>
                <p class="card-text">@item.Genre</p>
                <p class="card-text">@item.Type</p>
                <p class="card-text">@item.Pages</p>
                <p class="card-text">@item.Size</p>
                <p class="card-text">@item.Description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
}